.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media screen and (max-width: 475px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", sans-serif;
  overflow-x: hidden;
}

img {
  height: auto;
  width: 100%;
}

.card {
  display: grid;
  border-radius: 25px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
  .tablet-word-wrap {
    display: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mobile-word-wrap-test {
    display: none;
  }
}
header {
  background-color: #0084FF;
  width: auto;
  height: 100%;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-bottom: 5rem;
}

header img {
  justify-self: start;
  padding-left: 1rem;
  max-width: 20%;
}

.menu-icon {
  justify-self: end;
  padding-right: 2rem;
  color: white;
}

#five-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 5rem;
}

#demo-application {
  background-color: #B8DDFF;
  color: #0084FF;
  padding: 2rem 2rem 0 2rem;
}

#demo-application p {
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 2em;
  width: 100%;
  font-size: 1.5em;
}

#demo-application h1 {
  font-size: 2rem;
}

#app-store {
  background-color: #0084FF;
  color: white;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-items: start;
  align-items: center;
  width: 60%;
  height: auto;
  border-radius: 50px;
}

.apple-svg {
  justify-self: end;
  margin-right: 0.5rem;
  font-size: 2rem;
}

#clean-code {
  background-color: #CAF0DB;
  color: #54C788;
  justify-items: center;
}

#clean-code h1 {
  font-size: 2em;
}

#clean-code p {
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 2em;
  width: 100%;
  font-size: 1.5em;
}

#web-design {
  background-color: #FFD2D2;
  color: #FF8A8A;
  justify-items: center;
}

#web-design h1 {
  font-size: 2em;
}

#web-design p {
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 2em;
  width: 100%;
  font-size: 1.5em;
}

#development {
  background-color: #FFE7C4;
  color: #FFC166;
  justify-items: center;
}

#development h1 {
  font-size: 2em;
}

#development p {
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 2em;
  width: 100%;
  font-size: 1.5em;
}

#branding {
  background-color: #D5D4F5;
  color: #9693E6;
  justify-items: center;
}

#branding h1 {
  font-size: 2em;
}

#branding p {
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 2em;
  width: 100%;
  font-size: 1.5em;
}

@media screen and (max-width: 1024px) {
  #clean-code img,
  #web-design img,
  #development img,
  #branding img {
    max-width: 50%;
    display: grid;
    justify-self: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #demo-application {
    grid-column: span 2;
  }
  #demo-application img {
    width: 50%;
    height: auto;
    align-self: end;
  }
  #clean-code {
    text-align: center;
    padding: 2rem;
  }
  #web-design {
    text-align: center;
    padding: 2rem;
  }
  #development {
    text-align: center;
    padding: 2rem;
  }
  #branding {
    text-align: center;
    padding: 2rem;
  }
}
#strategic-planning {
  border-radius: 0px;
  background-color: #9693E6;
  color: white;
  text-align: left;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-rows: repeat(4, auto);
  font-size: 1.3rem;
  justify-items: center;
  letter-spacing: 1px;
  line-height: 2rem;
}

#strategic-planning h1 {
  justify-self: start;
  font-size: 4em;
  margin-left: 3.5rem;
}

#strategic-planning p {
  font-size: 1em;
  padding-left: 3.5rem;
}

#strategic-planning > img {
  width: 70%;
  padding-top: 5rem;
}

#app-development {
  display: grid;
  grid-template-rows: repeat(4, auto);
  text-align: center;
  background-color: white;
  color: #333333;
  border-radius: 75px;
  padding: 1rem;
  margin: 3rem;
  justify-self: center;
  height: auto;
}

#app-development p {
  font-size: 1.5rem;
}

#app-development h2 {
  justify-self: center;
}

#app-development img {
  width: 80%;
  height: auto;
  justify-self: center;
  padding-top: 2rem;
}

#down-arrow {
  border: 1px solid #D5D4F5;
  background-color: #D5D4F5;
  border-radius: 100%;
  justify-self: center;
  align-self: start;
  justify-self: center;
  margin: 1.5rem 0 1.5rem 0;
}

#testimonials-container {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  justify-items: center;
  align-items: center;
  border-radius: 0;
  text-align: center;
  row-gap: 2rem;
  background-color: white;
  color: #333333;
}

#header-text-testimonials {
  display: grid;
  width: 100%;
  height: min-content;
  border: none;
  justify-items: center;
  box-sizing: border-box;
}

#header-text-testimonials h3 {
  margin-top: 3rem;
  justify-self: center;
  font-weight: 100;
  font-size: 1em;
}

#header-text-testimonials h1 {
  color: #9693E6;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  justify-self: center;
}

#header-text-testimonials p {
  font-size: 1.4rem;
  text-align: left;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #tablet-word-wrap {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  #testimonial-1,
  #testimonial-2,
  #testimonial-3 {
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    width: 80%;
    height: 100%;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
  #testimonial-1 img,
  #testimonial-2 img,
  #testimonial-3 img {
    width: 100%;
    height: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-top: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #testimonial-1,
  #testimonial-2,
  #testimonial-3 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 10px;
    width: 85%;
    height: auto;
  }
  #testimonial-1 h2,
  #testimonial-2 h2,
  #testimonial-3 h2 {
    grid-column: 2;
    grid-row: 2;
    text-align: left;
  }
  #testimonial-1 p,
  #testimonial-2 p,
  #testimonial-3 p {
    font-size: 1.5em;
    grid-column: 2;
    grid-row: 1;
    text-align: left;
  }
  #testimonial-1 img,
  #testimonial-2 img,
  #testimonial-3 img {
    grid-column: 1;
    grid-row: span 2;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    align-self: center;
  }
}
#testimonial-1 {
  background-color: #FFD2D2;
}

#testimonial-2 {
  background-color: #FFE7C4;
}

#testimonial-3 {
  background-color: #CAF0DB;
}

.quote-svg {
  display: inline-block;
  height: 24px;
  width: 24px;
}

#benefits-container {
  background-color: #9693E6;
  border-radius: 0;
  border: none;
  padding-bottom: 5rem;
}

#benefits-header {
  display: grid;
  text-align: center;
  color: white;
  background-color: #9693E6;
  font-size: 1.6em;
}

@media screen and (max-width: 768px) {
  #benefits-container {
    display: grid;
    grid-template-rows: repeat(7, auto);
    row-gap: 2em;
  }
  #benefits-header {
    padding: 1rem 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #benefits-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    grid-template-rows: repeat(3, auto);
    row-gap: 2rem;
  }
}
#high-quality p,
#creative-team p,
#amazing-results p,
#best-pricing p,
#innovations p,
#twofoursev-support p {
  color: #333333;
  text-align: left;
  padding-left: 1rem;
}

#high-quality,
#creative-team,
#amazing-results,
#best-pricing,
#innovations,
#twofoursev-support {
  display: grid;
  grid-template-rows: repeat(4, 6.5rem);
  background-color: white;
}

#high-quality {
  justify-items: left;
  padding-left: 1rem;
}

#high-quality h4 {
  color: #9693E6;
  padding-left: 1rem;
  font-size: 2em;
}

#high-quality h2 {
  color: #9693E6;
  padding-left: 1rem;
  font-size: 4em;
}

#creative-team {
  justify-items: left;
  padding-left: 1rem;
}

#creative-team h4 {
  color: #9693E6;
  padding-left: 1rem;
  font-size: 2em;
}

#creative-team h2 {
  color: #9693E6;
  padding-left: 1rem;
  font-size: 4em;
}

#amazing-results {
  justify-items: left;
  padding-left: 1rem;
}

#amazing-results h4 {
  color: #9693E6;
  padding-left: 1rem;
  font-size: 2em;
}

#amazing-results h2 {
  color: #9693E6;
  padding-left: 1rem;
  font-size: 4em;
}

#best-pricing {
  justify-items: left;
  padding-left: 1rem;
}

#best-pricing h4 {
  color: #9693E6;
  padding-left: 1rem;
  font-size: 2em;
}

#best-pricing h2 {
  color: #9693E6;
  padding-left: 1rem;
  font-size: 4em;
}

#innovations {
  justify-items: left;
  padding-left: 1rem;
}

#innovations h4 {
  font-size: 2em;
  color: #9693E6;
  padding-left: 1rem;
}

#innovations h2 {
  font-size: 4em;
  color: #9693E6;
  padding-left: 1rem;
}

#twofoursev-support {
  justify-items: left;
  padding-left: 1rem;
}

#twofoursev-support h4 {
  color: #9693E6;
  padding-left: 1rem;
  font-size: 2em;
}

#twofoursev-support h2 {
  color: #9693E6;
  padding-left: 1rem;
  font-size: 4em;
}

.more-bubble {
  background-color: #9693E6;
  color: white;
  border-radius: 50px;
  justify-self: start;
  align-items: center;
  display: grid;
  padding: 1rem 3rem;
  margin-left: 1rem;
  font-size: 1.2em;
}

.more-container {
  display: grid;
  grid-template-columns: 1fr;
}

#about-us,
#about-us-1 {
  display: grid;
}

@media screen and (max-width: 768px) {
  #about-us {
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 100vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #about-us-1 {
    grid-template-areas: "header sidebar-image" "main-text sidebar-quote" "footer-text sidebar-svg";
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(3, auto);
  }
}
#about-us h1 {
  color: #9693E6;
  font-size: 5em;
  padding-left: 0.4em;
  text-align: left;
  align-self: bottom;
}

#about-us-text-1,
#about-us-text-2 {
  display: grid;
  font-size: 1.5em;
  padding-left: 1em;
  line-height: 2.2em;
  color: #333333;
}

#about-us-text-2 {
  padding-top: 4rem;
}

#about-us img {
  width: 70%;
  padding-left: 1rem;
  justify-self: center;
}

#about-us h2 {
  font-size: 2.1rem;
  line-height: 4rem;
  color: #9693E6;
  padding-left: 1.4em;
  height: 100%;
}

#u-svg-content {
  background-color: #9693E6;
}

#linkedin {
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  justify-items: center;
  width: 13em;
  height: 4em;
  border-radius: 1em;
  color: white;
  background-color: #9693E6;
  padding: 0 1em 0 1em;
  margin: 0 0 5rem 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #about-us h1 {
    grid-area: header;
    grid-template-columns: 100px;
  }
  #about-us-text-1 {
    grid-area: main-text;
  }
  #about-us-text-2 {
    grid-area: footer-text;
    padding-bottom: 15rem;
  }
  #about-us img {
    grid-area: sidebar-image;
  }
  #about-us h2 {
    grid-area: sidebar-quote;
  }
  #linkedin {
    grid-area: sidebar-svg;
    justify-self: center;
  }
}
#get-started {
  background-color: #9693E6;
  text-align: center;
  color: white;
}

#get-started h1 {
  color: #FFC166;
  font-size: 4rem;
}

#get-started h4 {
  color: #D5D4F5;
  padding-top: 4rem;
  font-size: 1.2em;
}

#get-started h2 {
  font-size: 2em;
  font-weight: 100;
}

#get-started p {
  font-size: 1.1em;
}

#get-started-button {
  background-color: white;
  color: #9693E6;
  display: grid;
  grid-template-columns: 100%;
  width: 60%;
  border-radius: 50px;
  margin-left: 5rem;
  letter-spacing: 0.1em;
}

#misc-row {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-auto-flow: column;
  color: white;
  align-items: center;
  padding: 1em 3em;
  font-size: 1em;
}

#misc-row a {
  color: white;
}

#big-dot {
  font-size: 2rem;
  align-self: start;
  padding-bottom: 0.6em;
  padding: 0 0.1em 0.6em 0.1em;
}

#footer {
  background-color: #333333;
  border-radius: 0;
  color: white;
  text-align: center;
  padding: 3em 2em;
}

/*# sourceMappingURL=styles.css.map */
