// Variable References (Colors...duh) //
$dark-blue: #0084FF;
$light-blue: #B8DDFF;

$dark-green: #54C788;
$light-green: #CAF0DB;

$dark-red: #FF8A8A;
$light-red: #FFD2D2;

$dark-yellow: #FFC166;
$light-yellow: #FFE7C4;

$dark-purple: #9693E6;
$light-purple: #D5D4F5;

$dark-grey: #333333;

// Partials... also duh //
@use "responsive";

// General Selector Styling // 
body {
  margin: 0px;
  padding: 0px;
  font-family: 'PT Sans', sans-serif;
  overflow-x: hidden;
}

img {
  height: auto;
  width: 100%;
}

.card {
  display: grid;
  border: 1px solid black;
  border-radius: 25px;
}

// End Of General Styling //

// Header Styling //
header {
  background-color: $dark-blue;
  width: auto;
  height: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

header img {
  justify-self: start;
  padding-left: 1em;
  max-width: 30%;
}

.menu-icon {
  justify-self: end;
  padding-right: 2em;
  color: white;
}

// End Of Header Styling //

// 5-Card Layout Styling (Including Media Queries for Mobile (Max-width: 768px)) //
@media screen and (max-width:768px) {

  #clean-code img,
  #web-design img,
  #development img,
  #branding img {
    max-width: 30%;
    max-height: fit-content;
    margin-top: 2.5rem;
  }
}

@media screen and (max-width:768px) {

  #demo-application,
  #clean-code,
  #web-design,
  #development,
  #branding {
    text-align: left;
    font-size: 1.5rem;
    align-items: center;
    justify-items: center;
  }
}

// Demo Application Card Styling //
@media screen and (max-width:768px) {
  #demo-application>h1 {
    justify-self: start;
    padding-left: 2.5rem;
  }
}

#demo-application {
  grid-template-rows: repeat(4, auto);
  color: $dark-blue;
  background-color: $light-blue;
  margin-top: 5rem;
}


#app-store {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid $dark-blue;
  background-color: $dark-blue;
  color: white;
  border-radius: 50px;
  justify-items: center;
  justify-self: start;
  width: 1fr;
  height: auto;
  word-wrap: none;
  grid-auto-rows: 1fr;
  padding: 0px .5rem .5rem 0rem;
  margin-left: 2rem;
}

#app-store img {
  width: 1.5rem;
  height: auto;
  justify-self: center;
  align-self: center;
  margin-left: 2rem;
}

@media screen and (max-width:768px) {
  #blue-phone {
    align-self: end;
    width: 40%;
    padding: 0px 0px 0px 4rem;
    justify-self: start;
    height: auto;
  }
}

// End Of Demo Application Card Styling //

#clean-code {
  background-color: $light-green;
  color: $dark-green;
  margin-top: 2rem;
}

#web-design {
  background-color: $light-red;
  color: $dark-red;
  margin-top: 2rem;
}

#development {
  background-color: $light-yellow;
  color: $dark-yellow;
  margin-top: 2rem;
}

#branding {
  background-color: $light-purple;
  color: $dark-purple;
  margin: 2rem 0 5rem 0;
}

// End Of 5-Card Layout Styling (Including Media Queries for Mobile (Max-width: 768px)) //

// Card Within A Card Styling //
@media screen and (max-width:768px) {
  #strategic-planning {
    border-radius: 0px;
    background-color: $dark-purple;
    color: white;
    text-align: left;
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-rows: repeat(4, auto);
    font-size: 1.3rem;
    justify-items: center;
    letter-spacing: 1px;
    line-height: 2rem;
  }

  #strategic-planning h1 {
    justify-self: start;
    font-size: 2.5rem;
    margin-left: 3.5rem;
  }

  #strategic-planning>img {
    width: 70%;
    padding-top: 5rem;
  }

  // App Development Styling //
  #app-development {
    display: grid;
    grid-template-rows: repeat(4, auto);
    text-align: center;
    background-color: white;
    color: $dark-grey;
    border-radius: 75px;
    padding: 1rem;
    margin: 3rem;
    justify-self: center;
    height: auto;
  }

  #app-development p {
    font-size: 1.5rem;
  }

  #app-development h2 {
    justify-self: center;
  }

  #app-development img {
    width: 80%;
    height: auto;
    justify-self: center;
    padding-top: 2rem;
  }

  #down-arrow {
    border: 1px solid $light-purple;
    background-color: $light-purple;
    border-radius: 100%;
    justify-self: center;
    align-self: start;
    justify-self: center;
    margin: 1.5rem 0 1.5rem 0;
  }

  // End Of App Development Styling //
}

// End Of Card Within A Card Styling //

// Testimonials Section Styling //
#testimonials-container {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  justify-items: center;
  align-items: center;
  border-radius: 0;
  text-align: center;
  row-gap: 2rem;
}

// Testimonial Header and Text (Not The Cards) Styling //
#header-text-testimonials {
  width: 100%;
  height: min-content;
  border: none;
  justify-items: center;
  box-sizing: border-box;
}

#header-text-testimonials h3 {
  margin-top: 3rem;
  justify-self: center;
  font-weight: 100;
  font-size: 1.2rem;
}

#header-text-testimonials p {
  font-size: 1.4rem;
  text-align: center;
}


#header-text-testimonials h1 {
  color: $dark-purple;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

// End Of Testimonial Header and Text (Not The Cards) Styling //

#testimonial-1,
#testimonial-2,
#testimonial-3 {
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  width: 80%;
  height: 100%;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

#testimonial-1 img,
#testimonial-2 img,
#testimonial-3 img {
  width: 100%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-top: 2rem;
}

#testimonial-1 {
  background-color: $light-red
}

#testimonial-2 {
  background-color: $light-yellow
}

#testimonial-3 {
  background-color: $light-green;
}

.quote-svg {
  display: inline-block;
  /* Ensures SVGs are inline with text */
  height: 24px;
  /* Adjust the height as needed */
  width: 24px;
  /* Adjust the width as needed */
}

// End Of Testimonials Section Styling //


// Benefits Of Working With Us Section Styling //
#benefits-container {
  grid-template-rows: repeat(7, auto);
  row-gap: 2rem;
  background-color: $dark-purple;
  border-radius: 0;
  border: none;
  padding-bottom: 5rem;
}

#benefits-container h1 {
  color: white;
  justify-self: center;
  font-size: 2.2rem;
}

#high-quality p,
#creative-team p,
#amazing-results p,
#best-pricing p,
#innovations p,
#twofoursev-support p {
  color: $dark-grey;
  text-align: left;
  padding-left: 1rem;
}

#high-quality,
#creative-team,
#amazing-results,
#best-pricing,
#innovations,
#twofoursev-support {
  display: grid;
  grid-template-rows: repeat(4, 6.5rem);
  background-color: white;
}



// High Quality Card Styling //
#high-quality {
  justify-items: left;
  padding-left: 1rem;
}

#high-quality h4 {
  color: $dark-purple;
  padding-left: 1rem;
  font-size: 2em;
}

#high-quality h2 {
  color: $dark-purple;
  padding-left: 1rem;
  font-size: 4em;
}


// Creative Team Card Styling //
#creative-team {
  justify-items: left;
  padding-left: 1rem;
}

#creative-team h4 {
  color: $dark-purple;
  padding-left: 1rem;
  font-size: 2em;
}

#creative-team h2 {
  color: $dark-purple;
  padding-left: 1rem;
  font-size: 4em;
}


// Amazing Results Card Styling //
#amazing-results {
  justify-items: left;
  padding-left: 1rem;
}

#amazing-results h4 {
  color: $dark-purple;
  padding-left: 1rem;
  font-size: 2em;
}

#amazing-results h2 {
  color: $dark-purple;
  padding-left: 1rem;
  font-size: 4em;
}

// Best Pricing Card Styling //
#best-pricing {
  justify-items: left;
  padding-left: 1rem;
}

#best-pricing h4 {
  color: $dark-purple;
  padding-left: 1rem;
  font-size: 2em;
}

#best-pricing h2 {
  color: $dark-purple;
  padding-left: 1rem;
  font-size: 4em;
}

// Innovations Card Styling //
#innovations {
  justify-items: left;
  padding-left: 1rem;
}

#innovations h4 {
  font-size: 2em;
  color: $dark-purple;
  padding-left: 1rem;
}

#innovations h2 {
  font-size: 4em;
  color: $dark-purple;
  padding-left: 1rem;
}


// 24/7 Support Card Styling //
#twofoursev-support {
  justify-items: left;
  padding-left: 1rem;
}

#twofoursev-support h4 {
  color: $dark-purple;
  padding-left: 1rem;
  font-size: 2em;
}

#twofoursev-support h2 {
  color: $dark-purple;
  padding-left: 1rem;
  font-size: 4em;
}

// More Bubble Styling //
.more-bubble {
  background-color: $dark-purple;
  color: white;
  border-radius: 50px;
  justify-self: start;
  align-items: center;
  display: grid;
  padding: 1rem 3rem;
  margin-left: 1rem;
  font-size: 1.2em;
}

.more-container {
  display: grid;
  grid-template-columns: 1fr;
}

// End Of Benefits Of Working With Us Section Styling //

//  About Us Section Styling //
#about-us {
  display: grid;
  grid-template-rows: repeat(5, auto);
}

@media screen and (max-width: 768px) {
  #about-us {
    display: grid;
    grid-template-columns: 100vw;
  }
}



#about-us h1 {
  color: $dark-purple;
  padding-left: 1rem;
  font-size: 3em;
}

#about-us-text {
  width: 100vw;
  display: grid;
  font-size: 1em;
  padding-left: 1rem;
  line-height: 2em;
  color: $dark-grey;
  font-size: 1.3em;
}

#about-us-text p {
  width: 100vw;
}

#about-us img {
  width: 50%;
  padding-left: 1rem;
}

#about-us h2 {
  font-size: 2.3rem;
  color: $dark-purple;
  padding-left: 1rem;
}

#u-svg-content {
  background-color: $dark-purple;
}

#linkedin {
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  justify-items: center;
  width: 10rem;
  height: auto;
  border-radius: 1em;
  color: white;
  background-color: $dark-purple;
  padding: 0 1em 0 1em;
  margin: 0 0 5rem 1rem;
}

// End Of About Us Section Styling //

// Get Started Section Styling //
#get-started {
  background-color: $dark-purple;
  text-align: center;
  color: white;
}

#get-started h1 {
  color: $dark-yellow;
  font-size: 4rem;
}

#get-started h4 {
  color: $light-purple;
  padding-top: 4rem;
  font-size: 1.2em;
}

#get-started h2 {
  font-size: 2em;
  font-weight: 100;
}

#get-started p {
  font-size: 1.1em;
}

#get-started-button {
  background-color: white;
  color: $dark-purple;
  display: grid;
  grid-template-columns: 100%;
  width: 60%;
  border-radius: 50px;
  margin-left: 5rem;
  letter-spacing: .1em;
}

#misc-row {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-auto-flow: column;
  color: white;
  align-items: center;
  padding: 1em 3em;
  font-size: 1em;
}

#misc-row a {
  color: white;
}

#big-dot {
  font-size: 2rem;
  align-self: start;
  padding-bottom: .6em;
  padding: 0 .1em .6em .1em;
}

// End Of Get Started Section Styling //

// End of Main Section Styling //

// Footer Section Styling //
#footer {
  background-color: $dark-grey;
  border-radius: 0;
  color: white;
  text-align: center;
  padding: 3em 2em;
}


// End Of Footer Section Styling //